<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Current Sharing DEMO</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</head>

  <body>
    {% block navbar %}
	<!-- nav bar -->
	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><b>current-sharing</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('front') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  href="{{ url_for('evaluator') }}">Evaluator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('optimizer') }}">Optimizer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/abhijeet-b/flask-current">Github</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    {% endblock %}

    {% block content %}
    <div class="d-grid pt-3 gap-3">
    <div class="container p-4 bg-light border">
    <form method="POST">
      <p><b>For a given transformer geometry, the evaluator will calculate the current distribution and copper loss in the structure.</b></p>
      <!--<p><b> Assume integer precision unless specified otherwise.</b> Float precision is of 5 decimal places. </p>-->
      <div class="form-group pt-2">
        <label for="nValueForm"># of layers</label>
        <input type="number" min="0" class="form-control" name="nValueForm" id="nValueForm" placeholder="Enter the number of layers:">
      </div>
      <div class="form-group pt-2">
        <label for="primaryTurns">Primary turns, binary tree:</label>
        <input class="form-control" name="primaryTurns" id="primaryTurns" placeholder="Enter the primary turns in a binary tree format:">
      </div>
      <div class="form-group pt-2">
        <label for="secondaryTurns">Secondary turns, binary tree: </label>
        <input class="form-control" name="secondaryTurns" id="secondaryTurns" placeholder="Enter the secondary turns in a binary tree format:">
      </div>
       <div class="form-group pt-2">
        <label for="layerWidth">Width of the layer (m), float precision: </label>
        <input type="number" min="0" step=".00001" class="form-control" name="layerWidth" id="layerWidth" placeholder="Enter the width of a layer:">
      </div>
       <div class="form-group pt-2">
        <label for="operatingFrequency">Operating frequency (Hz): </label>
        <input type="number" min="0" class="form-control" name="operatingFrequency" id="operatingFrequency" placeholder="Enter the operating frequency:">
      </div>
       <div class="form-group pt-2">
        <label for="turnLength">Turn length (m), float precision: </label>
        <input type="number" min="0" step=".00001" class="form-control" name="turnLength" id="turnLength" placeholder="Enter the length of the turn:">
      </div>
       <div class="form-group pt-2">
        <label for="layerDistances">Distances between the layers (m), float precision: </label>
        <input type="number" min="0" step=".00001" class="form-control" name="layerDistances" id="layerDistances" placeholder="Enter the distance between each layer (assumed to be the same for now):">
      </div>
      <div class="form-group pt-2">
        <label for="primaryCurrent">Primary current (A), float precision: </label>
        <input type="number" min="1" step=".00001" class="form-control" name="primaryCurrent" id="primaryCurrent" placeholder="Enter the current on the primary (default is 1):">
      </div>
      <div class="pt-3"></div>
      <button type="submit" class="submit-btn btn btn-primary">Submit</button>
    </form>

    </div>
    </div>
    
    <div class="d-grid pt-3 gap-3">
      <div class="container p-4 bg-light border">
        Once you submit the values listed above, the program will calculate the current distribution across each layer of the stackup. Each set of connections (both on the primary and secondary) rely on a binary tree format. <br>
        <br>

        {% if invalidStackup is defined %}
        Whoops! Looks like you submitted an invalid stackup. Double check your inputs.
        
        {% endif %}

        {% if sL is defined %}
        <b> The loss for this stackup (W): </b> {{sL}} <br>
        
        {% endif %}
        {% if inputs is defined %}
          <b> The optimal stackup: </b> {{inputs}} <br>
        {% endif %}
	{% if currentSolution is defined %}
      <br>
      <b> Layer currents: </b> <br>
      {% for i in currentSolution %}
        {% if loop.index <= nVal %}
	  <b> Layer {{loop.index}} </b> =  {{ i|float|round(5) }} A <br>
        {% endif %}
      {% endfor %}
	{% endif %}

        {% if currentSolution is defined %}
        <br>
        <b> Top and bottom current densities for each layer: </b> <br>
          {% for i in range(nVal,currentSolution|length,2)%}
            {% if loop.index <= nVal %}
              <b> Layer {{ loop.index }} </b> = <b> T: </b> {{currentSolution[i]|float|round(5)}} A/m; <b> B: </b> {{currentSolution[i+1]|float|round(5)}} A/m <br>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
   
      {% if hL is defined %}
      <div class="container p-4 bg-light border">
        <b>Current density visualization: </b>
        {% for i in range(0,2*nVal-1,2) %}
          {% if loop.index <= nVal %}
  

      <div id=enclosure" style="text-align:center; width:805px;border:3px solid black;">
        <div style="padding-top:30px; width:800px;height:20px;background:#{{hL[i]}};border:1px solid black;">
        </div>
        <div class="bg-light" style="padding-top:0px; width:800px;border:1px solid black; height:30px;">
          <p style="color:#000000"> <b> Layer {{loop.index}} </b></p>
        </div> 
        <div style="padding-top:30px; width:800px;height:20px;background:#{{hL[i+1]}};border:1px solid black;">
        </div>
      </div>  <br>
    
          {% endif %}
        {% endfor %}
    <img src="{{ url_for('static', filename='colorgradient.png') }}" alt="Current intensity color scale" style="object-fit: cover"  />
    <p style="color:#000000"> The current heat maps above are calculated in relationship to the maximum current density in any of the layers. The more red, the closer to +(max), and the more blue, the closer to -(max). </p>
      </div>
      {% endif %}
      </div>

    {% endblock %}
  </body>

</html>
